[submodule "texlive"]
	path = texlive
	url = git@github.com:garyng/texlive.git
[submodule "jupyter"]
	path = jupyter
	url = git@github.com:garyng/jupyter.git
[submodule "texlive-full"]
	path = texlive-full
	url = git@github.com:garyng/texlive-full.git
